{% include "myproject/navigation.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=""UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hong Kong Bakery</title>
    </head>
    <body>
        <h1>Hong Kong Bakery</h1>
        <ul>
            {% for bread in bread %}
                <li>
                    <h3>{{ bread.name}} </h3>
                    <p>{{ bread.content }}</p>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>